@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC');
body {
  margin: 0;
  font-family: 'Noto Sans TC', sans-serif;
  background-color: #202020;
}
.header--bar {
  width: 100vw;
  height: 2em;
  display: flex;
  padding: 5px 10px;
  box-shadow: 1px 0 6px #000;
  background-color: #231f1f;
}
.header__title {
  color: #eee;
  font-size: 1.3rem;
  font-spacing: 0.35em;
  bottom: 0;
  left: 0;
}
.header--bar a {
  font-size: 0.5rem;
  color: #1c6792;
}
p {
  font-size: 1rem;
  margin-left: 10px;
}
